[Unit]
Description = [pipower] Monitor SHUTDOWN signal

[Service]
Type = simple
Environment=PIN_POWER=27
EnvironmentFile=-/etc/default/pipower
ExecStart = /usr/bin/gpio -g wfi $PIN_POWER rising
ExecStop = /bin/systemctl poweroff

[Install]
WantedBy = multi-user.target
